[Unit]
Description=Monit Rabbit Container
After=network.target
#PartOf=

[Service]
Type=forking
User=root
Group=root
PIDFile=/docker/pid/mbsuiterabbit.pid
ExecStart=/test/monit_rabbitmq.sh start
ExecStop=/test/monit_rabbitmq.sh stop
ExecStatus=/test/monit_rabbitmq.sh status
SuccessExitStatus=143

# Give a reasonable amount of time for the server to start up/shut down
TimeoutSec=300

[Install]
WantedBy=multi-user.target

